<div
  class="container"
  *ngIf="(citiesPage$ | async).length > 0; else noCitiesMsg"
>
  <app-pagination
    [currentPage]="currentPage$ | async"
    [pagesCount]="pagesCount$ | async"
    (onPreviousPage)="handlePreviousPage()"
    (onNextPage)="handleNextPage()"
  ></app-pagination>
  <app-cities-table
    [data]="citiesPage$ | async"
    [sortingPerColumn]="sortingPerColumn$ | async"
    [sortingOrder]="sortingOrder$ | async"
    (changeSorting)="handleSorting($event)"
  ></app-cities-table>
</div>
<ng-template #noCitiesMsg>
  <p class="no-cities-msg">No cities are assigned to this country.</p>
</ng-template>
