<div class="countries-container">

    <a [routerLink]="['create']" class="link">+ Create new country</a>
    <p *ngIf="(state$ | async)?.isLoading; else countriesList">Loading...</p>

    <ng-template #countriesList>
      <ul *ngIf="countries$ | async as countries" class="countries-list">
        <div class="search-container">
          <input
            type="text"
            (input)="handleSearch($event.target.value)"
            class="search-input"
            placeholder="Search..."
          />
        </div>
        <li class="countries-list__item" *ngFor="let country of countries">
          <app-entity-list-item [data]="country"></app-entity-list-item>
        </li>
      </ul>
    </ng-template>
  </div>
