<div>
  <table>
    <th>No.</th>
    <th *ngFor="let key of keyes">{{key}}</th>
    <tr *ngFor="let item of items; index as i">
      <td>{{ i + 1 + pageData.start }}</td>
      <td>{{ item.entity }}</td>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.continent}}</td>
      <td>{{ item.area }}</td>
      <td>{{ item.population }}</td>
      <td>{{ item.populationDensity }}</td>
    </tr>
  </table>
  <div class="actions">
    <div class="current">
      {{pageData.start + 1}} <span> - </span> {{pageData.end}} of {{size}}
    </div>
    <button (click)="prev()"> back </button>
    <button (click)="next()"> foward </button>
  </div>
</div>
