table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table {
  min-width: 90vw;
}
th {
  background-color: lightblue;
  cursor: pointer;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

.paginElement {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  &:hover {
    background-color: orange;
  }
}

.actions {
  margin-top: 10px;
  display: flex;
  margin-top: auto;
}

.active {
  background-color: orange;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  height: 150px;
}
