.container {
  display: inline-flex;
  .item {
    margin: 15px;
  }
  .item-container {
    display: flex;
    align-items: center;
    border: 1px solid orange;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: lightsalmon;
    }
    .cancel {
      padding-right: 10px;
      &:hover {
        color: red;
        transform: scale(1.6);
      }
    }
  }
}
