 <app-tabs>
   <app-tab [tabTitle]="'Details'">
     <ul *ngIf="selectedContinent$ | async as continent">
       <li>name: {{ continent.name }}</li>
       <li>area: {{ continent.area }}</li>
       <li>population: {{ continent.population }}</li>
       <li>population density: {{ continent.populationDensity }}</li>
     </ul>

     <button class="item" [routerLink]="['/edit/continent', continent.id]">
       edit
     </button>
   </app-tab>
   <app-tab tabTitle="Countries">
     <app-table [countries]="countriesInContinent$ | async">
     </app-table>
   </app-tab>
 </app-tabs>
