.heading {
  margin: 0 0 20px 50px;
}

.tabs-list {
  list-style: none;
  display: flex;
  padding: 0 50px;

  &__link {
    margin-right: 20px;
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 232, 167);
    }

    &.active {
      background-color: rgb(255, 232, 167);
    }
  }
}