<h3 class="heading">
  Country: <span>{{ selectedCountryName$ | async }}</span>
</h3>
<nav>
  <ul class="tabs-list">
    <li>
      <a
        routerLink="./details"
        routerLinkActive="active"
        class="tabs-list__link"
        >Details</a
      >
    </li>
    <li>
      <a
        routerLink="./cities"
        routerLinkActive=""
        #rla="routerLinkActive"
        hidden
      ></a>
      <a
        routerLink="./cities"
        [queryParams]="{ page: 1, sorting: 'name', order: 'ascending' }"
        [class.active]="rla.isActive"
        class="tabs-list__link"
        >Cities</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
